.contact-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 2rem;
    position: relative;
}

.contact-Container .contact-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 40%;
    height: 400px;
    padding: 2rem;
    background: var(--color-light);
}

.contact-Container .contact-form-container .form-image{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    height: auto;
    position: absolute;
    top: 1rem;
    z-index: 1;
}

.contact-Container .contact-form-container .form-image img{
    width: 100%;
    height: auto;
}

.contact-Container .contact-form-container form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    width: 100%;
    height: auto;
    position: absolute;
    top: 5rem;
    z-index: 10;
}

.contact-Container .contact-form-container form input{
    width: 90%;
    height: auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    background: var(--color-light) !important;
    color: var(--color-white);
    font-family: Poppins_regular;
    font-size: 13px;
}

.contact-Container .contact-form-container form textarea{
    width: 90%;
    height: 150px;
    padding: 1rem 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    background: var(--color-light);
    color: var(--color-white);
    font-family: Poppins_regular;
    font-size: 13px;
    margin: 15px 0;
}

.contact-Container .contact-form-container form button{
    background: var(--color-primary);
    color: var(--color-white);
    padding: 1rem 2rem;
    width: 90%;
    font-family: Poppins_regular;
}

.contact-Container .contact-map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    height: 400px;
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    padding: 2rem;
}

#contact > div.contact-Container > div.contact-map-container > iframe{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 968px){
    .contact-Container .contact-form-container{
        width: 50%;
    }
    .contact-Container .contact-map-container{
        width: 50%;
    }
}

@media screen and (max-width: 768px){
    .contact-Container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
    .contact-Container .contact-form-container{
        width: 70%;
    }
    .contact-Container .contact-map-container{
        width: 70%;
    }
}

@media screen and (max-width: 568px){
    .contact-Container .contact-form-container{
        width: 85%;
    }
    .contact-Container .contact-map-container{
        width: 85%;
    }
}

@media screen and (max-width: 468px){
    .contact-Container .contact-form-container{
        width: 95%;
    }
    .contact-Container .contact-map-container{
        width: 95%;
    }
}

@media screen and (max-width: 368px){
    .contact-Container .contact-form-container{
        width: 100%;
    }
    .contact-Container .contact-map-container{
        width: 100%;
    }
}